* {
    box-sizing: border-box;
}
header {
    
}
#header-img {
    background-image: url('bg_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-width: 100%;
    
}
header .nav-link {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    color: white;

}
.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 10rem;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
header .nav-item:last-child {
    padding-right: 3rem;
}
header .nav-item {
    padding: 1rem;
   
}
header .navbar-brand {
    padding-left: 8rem;
}
.logo {
    width: 7rem;
    height: 7rem;
}
header .nav-link:hover {
    color: red;
}
header .row .col-md-7 {
    padding: 9rem 3rem;
    padding-bottom: 8rem;
}
.fas {
    color: black;
}
.title {
    font-size: 3.47rem;
    font-weight: bolder;
    color: white;
}
.description {
    padding-top: 1.12rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}
.btn {
    margin-top: 2rem;
    margin-right: 1rem;
    border-radius: 0;
}

.modal-dialog {
    text-align: center;
    color: white;
}
.modal-content {
    text-align: center;
    background-color: black;
}
.close {
    color: white;
    padding: 0;
}
.head {
    padding-top: 3rem;
}

.imp {
    padding-top: 0;
    padding-bottom: 2rem;
}
.form-group {
    padding-right: 4rem;
    padding-left: 4rem;
   
}
select {

text-rendering: auto;
letter-spacing: normal;
word-spacing: normal;
text-indent: 0px;
text-shadow: none;
text-align: start;
align-items: center;
white-space: pre;
-webkit-rtl-ordering: logical;
cursor: default;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#sub {
    margin-bottom: 2rem;
   
}
